/* src/App.css */
#root {

  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  overflow: scroll;
}
.nav{
  margin-bottom: 5vw; 
}

.logo {
  height: 30rem;
  padding:1rem;
  will-change: filter;
  transition: filter 300ms;
  animation: glitch 2s ;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #7d7686);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #7d7686);
}


.hidden {
  visibility: hidden;
}

.glitch {
  position: relative;
  display: inline-block;
}

.glitch img {
  display: block;
  max-width: 100%;
}

.glitch::before,
.glitch::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/logo.png') no-repeat;
  background-size: cover;
  mix-blend-mode: screen;
  animation: glitch 2s infinite;
}



@keyframes glitch {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(90deg);
  }
  5% {
    clip: rect(85px, 9999px, 140px, 0);
    transform: skew(0deg);
  }
  10% {
    clip: rect(24px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
  15% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
  20% {
    clip: rect(85px, 9999px, 140px, 0);
    transform: skew(0deg);
  }
  25% {
    clip: rect(24px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
  30% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
  35% {
    clip: rect(85px, 9999px, 140px, 0);
    transform: skew(0deg);
  }
  40% {
    clip: rect(24px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
  45% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
  50% {
    clip: rect(85px, 9999px, 140px, 0);
    transform: skew(0deg);
  }
  55% {
    clip: rect(24px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
  60% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
  65% {
    clip: rect(85px, 9999px, 140px, 0);
    transform: skew(0deg);
  }
  70% {
    clip: rect(24px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
  75% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
  80% {
    clip: rect(85px, 9999px, 140px, 0);
    transform: skew(0deg);
  }
  85% {
    clip: rect(24px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
  90% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
  95% {
    clip: rect(85px, 9999px, 140px, 0);
    transform: skew(0deg);
  }
  100% {
    clip: rect(24px, 9999px, 44px, 0);
    transform: skew(0deg);
  }
}
