.navbar {
  background-color: #333;
  font-size: 50%;
  height: 10%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 5vw;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #ddd;
}

